apiVersion: datadoghq.com/v2alpha1
kind: DatadogAgent
metadata:
  name: datadog
  annotations:
    agent.datadoghq.com/host-profiler: "true"
    agent.datadoghq.com/host-profiler-configmap-name: "custom-config-map"
spec:
  global:
    credentials:
      apiKey: <DATADOG_API_KEY>
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: custom-config-map
  namespace: system
data:
  host-profiler-config.yaml: |-
    extensions:
      ddprofiling/default:
      hpflare/default:
    receivers:
      otlp:
        protocols:
          grpc:
          http:
      hostprofiler:
        symbol_uploader:
          enabled: true
          symbol_endpoints:
            - site: ${env:DD_SITE}
              api_key: ${env:DD_API_KEY}
              app_key: ${env:DD_APP_KEY}
    processors:
      infraattributes/default:
        cardinality: 2 # HighCardinality
        allow_hostname_override: true
      cumulativetodelta: {}

    exporters:
      debug: {}
      otlphttp:
        metrics_endpoint: https://otlp.datadoghq.com/v1/metrics
        profiles_endpoint: https://intake.profile.datadoghq.com/v1development/profiles
        headers:
          dd-api-key: ${env:DD_API_KEY}
          dd-otel-metric-config: '{"resource_attributes_as_tags": true}'
    service:
      extensions: [hpflare/default]
      pipelines:
        profiles:
          receivers: [hostprofiler]
          processors: [infraattributes/default]
          exporters: [otlphttp, debug]   
        metrics:
          receivers: [otlp]
          processors: [cumulativetodelta, infraattributes/default]
          exporters: [otlphttp]
