version = '2'

[run]
tests = false
timeout = "20m"

[formatters]
enable = ['gci']

[formatters.settings]
[formatters.settings.gci]
sections = ['standard', 'default', 'prefix(github.com/DataDog/datadog-operator)', 'blank']
custom-order = true

[linters]
default = 'all'
disable = [
  'bodyclose',
  'containedctx',
  'contextcheck',
  'cyclop',
  'dupl',
  'dupword',
  'embeddedstructfieldcheck',
  'err113',
  'errcheck',
  'errchkjson',
  'exhaustive',
  'exhaustruct',
  'forcetypeassert',
  'funcorder',
  'funlen',
  'gochecknoglobals',
  'gochecknoinits',
  'gocognit',
  'goconst',
  'gocritic',
  'gocyclo',
  'godoclint',
  'godot',
  'godox',
  'gomoddirectives',
  'gosec',
  'inamedparam',
  'interfacebloat',
  'intrange',
  'ireturn',
  'lll',
  'maintidx',
  'misspell',
  'mnd',
  'musttag',
  'nakedret',
  'nestif',
  'nilnil',
  'nlreturn',
  'nolintlint',
  'noinlineerr',
  'nonamedreturns',
  'paralleltest',
  'perfsprint',
  'revive',
  'rowserrcheck',
  'sqlclosecheck',
  'staticcheck',
  'tagliatelle',
  'testpackage',
  'thelper',
  'unparam',
  'usestdlibvars',
  'varnamelen',
  'wastedassign',
  'whitespace',
  'wrapcheck',
  'wsl',
  'wsl_v5',
]

[linters.settings]
[linters.settings.depguard]
[linters.settings.depguard.rules]
[linters.settings.depguard.rules.main]
[[linters.settings.depguard.rules.main.deny]]
pkg = 'math/rand$'
desc = 'Please use math/rand/v2 instead of math/rand.'

[[linters.settings.depguard.rules.main.deny]]
pkg = 'github.com/pkg/errors'
desc = 'Please use standard errors package.'

[linters.settings.goconst]
min-len = 3
min-occurrences = 3

[linters.settings.gocyclo]
min-complexity = 12

[linters.settings.godot]
exclude = [
  ' \+'
]

[linters.settings.govet]
enable = [
  'shadow'
]

[linters.settings.misspell]
locale = 'US'

[linters.exclusions]
generated = 'lax'
paths = [
  '.cache',
  'go/pkg/mod',
  'pkg/mod',
  'examples$'
]

[issues]
exclude-use-default = false
max-per-linter = 0
max-same-issues = 0
exclude = []

