[run]
  tests = false
  timeout = "10m"

[linters-settings]

  [linters-settings.govet]
    enable = [
      "shadow"
    ]

  [linters-settings.gocyclo]
    min-complexity = 12.0

  [linters-settings.goconst]
    min-len = 3.0
    min-occurrences = 3.0

  [linters-settings.misspell]
    locale = "US"

  [linters-settings.gci]
    sections = [
      "prefix(github.com/DataDog/datadog-operator)"
    ]

  [linters-settings.godot]
    exclude = [
      ' \+',
    ]

[linters]
  enable-all = true
  disable = [
    "exhaustruct",
    "nonamedreturns",
    "revive",
    "lll",
    "gosec",
    "dupl",
    "execinquery",
    "gocyclo",
    "gochecknoinits",
    "gochecknoglobals",
    "funlen",
    "gocognit",
    "cyclop",
    "gomnd",
    "wrapcheck",
    "forcetypeassert",
    "err113",
    "testpackage",
    "wastedassign",
    "thelper",
    "paralleltest",
    "nestif",
    "exhaustive",
    "gci",
    "wsl",
    "godox",
    "godot",
    "nlreturn",
    "varnamelen",
    "tagliatelle",
    "containedctx",
    "contextcheck",
    "nilnil",
    "ireturn",
    "maintidx",
    "gocritic",
    "errchkjson",
    "gofumpt",
    "stylecheck",
    "staticcheck",
    "whitespace",
    "nolintlint",
    "usestdlibvars",
    "interfacebloat",
    "ineffassign",
    "prealloc",
    "bodyclose",
    "unparam",
    "goconst",
    "errcheck",
    "misspell",
    "rowserrcheck",
    "sqlclosecheck",
    "depguard",
    "perfsprint",
    "inamedparam",
    "nakedret",
    "gomoddirectives",
    "dupword",
    "intrange",
    "mnd",
    "musttag"
  ]

[issues]
  exclude-use-default = false
  max-per-linter = 0
  max-same-issues = 0
  exclude = []
  exclude-dirs = [
    ".cache",
    "go/pkg/mod",
    "pkg/mod",
  ]