apiVersion: v1
kind: Namespace
metadata:
  labels:
    app.kubernetes.io/name: datadog-operator
  name: datadog
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: manager
  namespace: system
  labels:
    app.kubernetes.io/name: datadog-operator
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: datadog-operator
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: datadog-operator
    spec:
      containers:
      - command:
        - /manager
        args:
        - --enable-leader-election
        - --pprof
        image: controller:latest
        imagePullPolicy: Always
        name: manager
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: WATCH_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        resources:
          limits:
            cpu: 100m
            memory: 250Mi
          requests:
            cpu: 100m
            memory: 250Mi
        ports:
          - name: metrics
            containerPort: 8080
            protocol: TCP
        livenessProbe:
          httpGet:
            path: /healthz/
            port: 8081
          periodSeconds: 10
      terminationGracePeriodSeconds: 10
      serviceAccountName: datadog-operator-manager
