apiVersion: v1
kind: Namespace
metadata:
  labels:
    app.kubernetes.io/name: datadog-operator
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: manager
  namespace: system
  labels:
    app.kubernetes.io/name: datadog-operator
    control-plane: controller-manager
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: datadog-operator
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: datadog-operator
        control-plane: controller-manager
      annotations:
        ad.datadoghq.com/manager.check_names: '["openmetrics"]'
        ad.datadoghq.com/manager.init_configs: '[{}]'
        ad.datadoghq.com/manager.instances: |
          [{
            "prometheus_url": "http://%%host%%:8080/metrics",
            "namespace": "datadog.operator",
            "metrics": ["*"]
          }]
    spec:
      containers:
      - command:
        - /manager
        args:
        - --enable-leader-election
        - --pprof
        - --datadogAgentInternalEnabled
        - --datadogAgentProfileEnabled
        image: controller:latest
        imagePullPolicy: IfNotPresent
        name: manager
        env:
        - name: DD_HOSTNAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: WATCH_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: DD_TOOL_VERSION
          value: "datadog-operator"
        resources:
          limits:
            cpu: 100m
            memory: 250Mi
          requests:
            cpu: 100m
            memory: 250Mi
        ports:
          - name: metrics
            containerPort: 8080
            protocol: TCP
        livenessProbe:
          httpGet:
            path: /healthz/
            port: 8081
          periodSeconds: 10
      terminationGracePeriodSeconds: 10
      serviceAccountName: controller-manager
