apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: datadog-operator
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - services
  - endpoints
  - events
  - configmaps
  - secrets
  - serviceaccounts
  verbs:
  - '*'
- apiGroups:
  - apps
  resources:
  - deployments
  - daemonsets
  verbs:
  - '*'
- apiGroups:
  - apps
  resourceNames:
  - datadog-operator
  resources:
  - deployments/finalizers
  verbs:
  - update
- apiGroups:
  - rbac.authorization.k8s.io
  - roles.rbac.authorization.k8s.io
  - authorization.k8s.io
  resources:
  - 'roles'
  - 'rolebindings'
  verbs:
  - '*'
- apiGroups:
  - datadoghq.com
  resources:
  - 'datadogagentdeployments'
  - 'datadogagentdeployments/status'
  - 'extendeddaemonset'
  verbs:
  - '*'
