apiVersion: datadoghq.com/v1alpha1
kind: DatadogMonitor
metadata:
  name: deployment-replicas
  namespace: datadog
spec:
  query: "avg(last_15m):avg:kubernetes_state.deployment.replicas_desired{*} by {kube_deployment} - avg:kubernetes_state.deployment.replicas_ready{*} by {kube_deployment} >= 2"
  type: "query alert"
  name: "[kubernetes] Monitor Kubernetes Deployments Replica Pods"
  message: "More than one Deployments Replica's pods are down."
  tags:
    - "integration:kubernetes"
