name: validation
on: [push, pull_request]
# Permission forced by repo-level setting; only elevate on job-level
permissions:
  id-token: write # needed for codecov, allows the action to get a JWT signed by GitHub
  contents: read
  # packages: read
env:
  PROJECTNAME: "datadog-operator"
  GO_VERSION: 1.25.7
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ env.GO_VERSION }}
        id: go
      - name: install required packages
        uses: mstksg/get-package@4eda30bb5c6ac62c0f3921dd5884b6ef8fc89ab2 # v1.0.0
        with:
          apt-get: mercurial jq build-essential
      - name: Check out code into the Go module directory
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: install tools
        run: |
          make install-tools
      - name: run build
        run: |
          make manager
      - name: run unit tests and E2E tests (fake cluster)
        run: |
          make test
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          use_oidc: true
          files: cover.out,cover_integration.out
          flags: unittests
