name: validation
on: [push, pull_request]
# Permission forced by repo-level setting; only elevate on job-level
permissions:
  contents: read
  # packages: read
env:
  PROJECTNAME: "datadog-operator"
  GO_VERSION: 1.25.5
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ env.GO_VERSION }}
        id: go
      - name: install required packages
        uses: mstksg/get-package@4eda30bb5c6ac62c0f3921dd5884b6ef8fc89ab2 # v1.0.0
        with:
          apt-get: mercurial jq build-essential
      - name: Check out code into the Go module directory
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: install tools
        run: |
          make install-tools
      - name: run build
        run: |
          make manager
      - name: run unit tests and E2E tests (fake cluster)
        run: |
          make test
      - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          use_oidc: true
          files: cover.out,cover_integration.out
          flags: unittests
