name: validation
on: [push, pull_request]
env:
  GO111MODULE: "on"
  PROJECTNAME: "datadog-operator"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.17
      id: go
    - name: install required packages
      uses: mstksg/get-package@v1
      with:
        apt-get: mercurial jq build-essential
    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
    - name: install tools
      run: |
        make install-tools
    - name: run build
      run: |
        make manager
    - name: run unit tests and E2E tests (fake cluster)
      run: |
        make test
    - uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: cover.out
        flags: unittests
        yml: .codecov.yml
