name: pull request linter
on:
  pull_request_target:
   types: [opened, labeled, unlabeled, synchronize]

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Verify Pull Request Labels
      uses: jesusvasquez333/verify-pr-label-action@657d111bbbe13e22bbd55870f1813c699bde1401 # v1.4.0
      with:
        github-token: '${{ secrets.GITHUB_TOKEN }}'
        valid-labels: 'bug, enhancement, refactoring, documentation, tooling, dependencies'
        pull-request-number: '${{ github.event.pull_request.number }}'
        disable-reviews: true
  check-milestone:
    name: Check Milestone
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - if: github.event.pull_request.milestone == null && !contains(toJson(github.event.pull_request.labels.*.name), 'qa/skip-qa')
        run: echo "::error::Missing milestone or \`qa/skip-qa\` label" && exit 1
