name: release
on:
  push:
    branches:
      - 'v*.*'
    tags:
      - 'v*.*.*'
jobs:
  build:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, '/refs/tags/v[0-9].[0-9]')
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Unshallow
        run: git fetch --prune --unshallow --tags
      - name: Get tag
        uses: little-core-labs/get-git-tag@v3.0.2
        id: tag
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.15
      - name: Get Latest Release
        id: latest_version
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          owner: ${{ github.repository_owner }}
          repo: datadog-operator
          excludes: prerelease, draft
      - name: Patch vendor
        run: make vendor
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v1
        with:
          version: latest
          args: release --skip-publish
        env:
          GORELEASER_PREVIOUS_TAG: ${{steps.latest_version.outputs.release}}
      - name: Generate Plugin manifest
        run: ./hack/release/generate-plugin-manifest.sh ${{steps.tag.outputs.tag}}
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          body_path: dist/CHANGELOG.md
          prerelease: ${{ contains(github.ref, '-rc.') }}
          files: |
            dist/datadog-plugin.yaml
            dist/*.zip
            dist/*.tar.gz
        env:
          COMMIT_TAG: ${{steps.tag.outputs.tag}}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Update new plugin version in krew-index
        uses: rajatjindal/krew-release-bot@v0.0.40
        with:
          krew_template_file: dist/datadog-plugin.yaml
