name: Release
on:
  push:
    branches:
      - "v[0-9]+.[0-9]+"
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+-rc.[0-9]+"
# Permission forced by repo-level setting; only elevate on job-level
permissions:
  contents: read
  # packages: read
env:
  GO_VERSION: 1.25.7
jobs:
  build-linux-binary:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    permissions:
      # https://github.com/marketplace/actions/goreleaser-action
      contents: write
      # actions/upload-artifact
      actions: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: gcc install
        run: sudo apt-get update; sudo apt install gcc-aarch64-linux-gnu
      - name: Get tag
        uses: little-core-labs/get-git-tag@2c292ff564c1a61b989e29f0410d131317f89b03 # v3.0.2
        id: tag
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Get Latest Release
        id: latest_version
        uses: pozetroninc/github-action-get-latest-release@53d33d213ee71c72360e3c829caf7cee94ec21e2 # master
        with:
          owner: ${{ github.repository_owner }}
          repo: datadog-operator
          excludes: prerelease, draft
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          version: 2.4.1
          args: release --skip=publish --config .goreleaser-for-linux.yaml
        env:
          GORELEASER_PREVIOUS_TAG: ${{steps.latest_version.outputs.release}}
      - name: Upload
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: kubectl-datadog-linux
          path: |
            dist/kubectl-datadog_*.zip
            dist/checksums.txt
            dist/CHANGELOG.md
  build-darwin-binary:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: macos-latest
    permissions:
      # https://github.com/marketplace/actions/goreleaser-action
      contents: write
      # actions/upload-artifact
      actions: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Get tag
        uses: little-core-labs/get-git-tag@2c292ff564c1a61b989e29f0410d131317f89b03 # v3.0.2
        id: tag
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Get Latest Release
        id: latest_version
        uses: pozetroninc/github-action-get-latest-release@53d33d213ee71c72360e3c829caf7cee94ec21e2 # master
        with:
          owner: ${{ github.repository_owner }}
          repo: datadog-operator
          excludes: prerelease, draft
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          args: release --skip=publish --config .goreleaser-for-darwin.yaml
        env:
          GORELEASER_PREVIOUS_TAG: ${{steps.latest_version.outputs.release}}
      - name: Upload
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: kubectl-datadog-darwin
          path: |
            dist/kubectl-datadog_*.zip
            dist/checksums.txt
  build-windows-binary:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    permissions:
      # https://github.com/marketplace/actions/goreleaser-action
      contents: write
      # actions/upload-artifact
      actions: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Get tag
        uses: little-core-labs/get-git-tag@2c292ff564c1a61b989e29f0410d131317f89b03 # v3.0.2
        id: tag
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Get Latest Release
        id: latest_version
        uses: pozetroninc/github-action-get-latest-release@53d33d213ee71c72360e3c829caf7cee94ec21e2 # master
        with:
          owner: ${{ github.repository_owner }}
          repo: datadog-operator
          excludes: prerelease, draft
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          args: release --skip=publish --config .goreleaser-for-windows.yaml
        env:
          GORELEASER_PREVIOUS_TAG: ${{steps.latest_version.outputs.release}}
      - name: Upload
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: kubectl-datadog-windows
          path: |
            dist/kubectl-datadog_*.zip
            dist/checksums.txt
  create-release:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: [build-linux-binary, build-darwin-binary, build-windows-binary]
    runs-on: ubuntu-latest
    permissions:
      # https://github.com/marketplace/actions/goreleaser-action
      # https://github.com/softprops/action-gh-release?tab=readme-ov-file#permissions
      contents: write
      # actions/download-artifact
      actions: read
      # Required for getting the OIDC token from GitHub
      id-token: write
    steps:
      - uses: DataDog/dd-octo-sts-action@acaa02eee7e3bb0839e4272dacb37b8f3b58ba80 # v1.0.3
        id: octo-sts
        with:
          scope: DataDog/datadog-operator
          policy: self.release.create-release
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Make directories
        run: |
          mkdir -p ./dist/linux
          mkdir -p ./dist/darwin
          mkdir -p ./dist/windows
      - name: Download linux binaries
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: kubectl-datadog-linux
          path: ./tmp-build/linux
      - name: Download darwin binaries
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: kubectl-datadog-darwin
          path: ./tmp-build/darwin
      - name: Download windows binaries
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: kubectl-datadog-windows
          path: ./tmp-build/windows
      - name: Get tag
        uses: little-core-labs/get-git-tag@2c292ff564c1a61b989e29f0410d131317f89b03 # v3.0.2
        id: tag
      - name: Prepare ./dist folder
        run: |
          mkdir -p ./dist
          cat ./tmp-build/darwin/checksums.txt >> ./dist/checksums.txt
          cat ./tmp-build/linux/checksums.txt >> ./dist/checksums.txt
          cat ./tmp-build/windows/checksums.txt >> ./dist/checksums.txt
          cp ./tmp-build/linux/CHANGELOG.md dist/CHANGELOG.md
          mv ./tmp-build/darwin/*.zip ./dist
          mv ./tmp-build/linux/*.zip ./dist
          mv ./tmp-build/windows/*.zip ./dist
      - name: Generate Plugin manifest
        run: ./hack/release/generate-plugin-manifest.sh ${{steps.tag.outputs.tag}}
      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          body_path: dist/CHANGELOG.md
          prerelease: ${{ contains(github.ref, '-rc.') }}
          files: |
            dist/datadog-plugin.yaml
            dist/*.zip
            dist/*.tar.gz
            dist/checksums.txt
        env:
          COMMIT_TAG: ${{steps.tag.outputs.tag}}
          GITHUB_TOKEN: ${{ steps.octo-sts.outputs.token }}
      - name: Update new plugin version in krew-index
        uses: rajatjindal/krew-release-bot@3d9faef30a82761d610544f62afddca00993eef9 # v0.0.47
        continue-on-error: true
        with:
          krew_template_file: dist/datadog-plugin.yaml
        env:
          GITHUB_TOKEN: ${{ steps.octo-sts.outputs.token }}
