name: yaml-mapper
on:
  pull_request:
    paths:
      - "cmd/yaml-mapper/**"
  push:
    paths:
      - "cmd/yaml-mapper/**"
# Permission forced by repo-level setting; only elevate on job-level
permissions:
  contents: read
  # packages: read
env:
  PROJECTNAME: "datadog-operator"
  GO_VERSION: 1.25.7
jobs:
  yaml-mapper-test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ env.GO_VERSION }}
        id: go
      - name: Check out code into the Go module directory
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: run yaml-mapper unit tests
        run: |
          make yaml-mapper-tests
